*.idea
*.pyc
iPERCore.egg-info
assets/checkpoints
assets/executables
assets/pretrains
assets/samples
assets/checkpoints.zip
assets/executables.zip
results*
*venv
*.pytest
*debug*
third_party/
log.txt
inference_*.sh
