*.idea
*.pyc
iPERCore.egg-info/
assets/checkpoints/
assets/executables/
assets/pretrains/
assets/checkpoints.zip
assets/executables.zip
results*
third_party/
log.txt
inference_folder.sh
snapshots/
*venv
*.pytest
*debug*
visuals/
scripts/evaluate/
